@font-face {
    font-family: 'Roboto';
     src: url('Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
  font-weight: 100 900;  /* Range of weights supported */
  font-style: normal;
}

body{
    padding: 0;
    margin: 0;
    font-family: Roboto;
    
}

.head{
    margin: 0;
    padding: 8px;
    background-color: #1F2937;

    display: flex;
    justify-content: space-around;
    align-items: baseline;
}
.left{
    font-size: 24px;
    color:#F9FAF8;
}
.right{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    gap: 24px;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}